<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bank Main Screen</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../css/th-bank.css">
</head>
<body>
	<div class="wrap">

		<header class="header ">
			<a href="#" class="header__lft header__menu"><span class="blind">Menu</span></a>
			<button type="button" class="header__rgt header__cxl"><span class="blind">Cancel</span></button>
		</header>

		<!-- container -->
		<main class="container container--main">
			<div class="content_wrap">
				<div class="main-top">
					<h1 class="main-top__tit main-loading main-loading--order1">Have a nice day Clare</h1>
				</div>

				<div class="main-acc main-acc--large main-loading main-loading--order3">
					<div class="main-acc__top">
						<h2 class="main-acc__name">Saving Account</h2>
						<span class="main-acc__amount">฿62,000.00</span>
						<span class="main-acc__detail main-acc__detail--num">Smart account 568-2-81740-9</span>
						<span class="main-acc__detail">Powered by TestLab</span>
					</div>

					<div class="main-acc__bottom">
						<div class="main-acc__ani_box">
							<div class="main-acc__ani__item">
								<span class="main-acc__ani_img1"></span>
								<span class="main-acc__ani_img2"></span>
							</div>
							<div class="main-acc__ani__item2">
								<span class="main-acc__ani_img3"></span>
							</div>
						</div>
						<div class="main-acc__link__box">
							<div class="main-acc__link__item">
								<a href="#" class="main-acc__link main-acc__link--withdrawal">Withdrawal</a>
								<a href="#" class="main-acc__link main-acc__link--qr">QR scan</a>
								<a href="#" class="main-acc__link main-acc__link--addmoney">Add money</a>
							</div>
						</div>
					</div>
					<button type="button" class="main-acc__more">
						<span class="blind">More Action</span>
					</button>
					<div class="tooltip " style="display: none">

						<button type="button" class="tooltip__btn-more">Set main account</button>

						<button type="button" class="tooltip__btn-more">Copy account number</button>

						<button type="button" class="tooltip__btn-more">Edit Name and Color</button>
					</div>
					<div class="tooltip tooltip--bubble tooltip--right-under" style="display: none">
						<span class="tooltip__txt">Change your main account for <br>Using transfer, Wallet more
							easliy</span>
					</div>
				</div>

				<div class="rctly__wrap main-loading main-loading--order5">
					<ul class="rctly__lst">
						<li class="rctly__item">
							<a href="#" class="rctly__link">
								<span class="rctly__thumb"><img src="https://dummyimage.com/54x54/999/fff"
										alt=""></span>
								<span class="rctly__name">Emily</span>
							</a>
						</li>
						<li class="rctly__item">
							<a href="#" class="rctly__link">
								<span class="rctly__thumb is-bank"><img src="https://dummyimage.com/54x54/999/fff"
										alt=""></span>
								<span class="rctly__name">AbcdEfghiJKlmN</span>
							</a>
						</li>
						<li class="rctly__item">
							<a href="#" class="rctly__link">
								<span class="rctly__thumb"><img src="https://dummyimage.com/54x54/999/fff"
										alt=""></span>
								<span class="rctly__name">Jone Kiersten</span>
							</a>
						</li>
						<li class="rctly__item">
							<a href="#" class="rctly__link">
								<span class="rctly__thumb"><img src="https://dummyimage.com/54x54/999/fff"
										alt=""></span>
								<span class="rctly__name">Emily</span>
							</a>
						</li>
						<li class="rctly__item">
							<a href="#" class="rctly__link">
								<span class="rctly__thumb"><img src="https://dummyimage.com/54x54/999/fff"
										alt=""></span>
								<span class="rctly__name">Emily</span>
							</a>
						</li>
						<li class="rctly__item">
							<a href="#" class="rctly__link">
								<span class="rctly__thumb is-bank"><img src="https://dummyimage.com/54x54/999/fff"
										alt=""></span>
								<span class="rctly__name">MarkYu Gonzales</span>
							</a>
						</li>
						
					</ul>
				</div>
				<a class="main-make main-loading main-loading--order6" style="display:none;">
					<span class="main-make__img"><img src="../img/main/img-debitcard-make.png" alt=""></span>
					<strong class="main-make__tit">Make your Debit Card</strong>
					<p class="main-make__dsc">To enjoy 0.5% cash back from online perchase.</p>
				</a>
				<div class="debit-swipe__wrap main-loading main-loading--order6">
					<div class="debit-swipe__inner">
						<div class="debit-swipe__lst" style="width:1595px;">
							<a href="#" class="debit-swipe__item" style="background-color:#00a1e2">
								<strong class="debit-swipe__name">My Salary</strong>
								<span class="debit-swipe__etc">In progress</span>
								<span class="debit-swipe__issue">Issued by TestLab</span>
							</a>
							<a href="#" class="debit-swipe__item" style="background-color:#ff8300">
								<strong class="debit-swipe__name">For My Dream</strong>
								<span class="debit-swipe__etc">In progress</span>
								<span class="debit-swipe__issue">Issued by TestLab</span>
							</a>
							<a href="#" class="debit-swipe__item"
								style="color:#97999e;background-color:#ffffff;--border-color:#f2f3f7">
								<strong class="debit-swipe__name">For My Dream</strong>
								<span class="debit-swipe__etc debit-swipe__etc--active">
									<span class="debit-swipe__etc__num">9440 78&#8226;&#8226;
										&#8226;&#8226;&#8226;&#8226; 3115</span>
								</span>
								<span class="debit-swipe__issue" style="color:#d3d3d2">Issued by TestLab</span>
							</a>
							<a href="#" class="debit-swipe__item" style="background-color:#91c9ee">
								<strong class="debit-swipe__name">For My Dream</strong>
								<span class="debit-swipe__etc debit-swipe__etc--active">
									<span class="debit-swipe__etc__num">9440 78&#8226;&#8226;
										&#8226;&#8226;&#8226;&#8226; 3115</span>
								</span>
								<span class="debit-swipe__issue">Issued by TestLab</span>
							</a>

							<a href="#" class="debit-swipe__item debit-swipe__item--all">
								See all
							</a>
						</div>
					</div>
				</div>

				<div class="main-acc is-bluegreen is-small">
					<div class="main-acc__top">
						<h2 class="main-acc__name">Saving Account</h2>
						<span class="main-acc__amount">฿8,837,999.00</span>
					</div>
					<div class="main-acc__bottom">
						<span class="main-acc__detail">Smart account 568-2-81740-9</span>
						<span class="main-acc__detail">Powered by TestLab</span>
					</div>
					<button type="button" class="main-acc__more main-acc__more--small">
						<span class="blind">More Action</span>
					</button>
					<div class="tooltip tooltip--sub-acc">
						<button type="button" class="tooltip__btn-more">Copy account number</button>
						<button type="button" class="tooltip__btn-more">Edit Name and Color</button>
					</div>
					<a href="#" class="main-acc__act main-acc__act--money">
						<span class="blind">Add money</span>
					</a>
				</div>

				<div class="main-acc is-orange is-small">
					<div class="main-acc__top">
						<h2 class="main-acc__name">Credit Loan</h2>
						<span class="main-acc__amount">฿300.100</span>
					</div>
					<div class="main-acc__bottom">
						<span class="main-acc__detail">Credit Loan 568-2-81740-9</span>
					</div>
					<button type="button" class="main-acc__more main-acc__more--small">
						<span class="blind">More Action</span>
					</button>
					<div class="tooltip tooltip--sub-acc" style="display: none">

						<button type="button" class="tooltip__btn-more">Copy account number</button>

						<button type="button" class="tooltip__btn-more">Edit Name and Color</button>
					</div>
					<a href="#" class="main-acc__act main-acc__act--disburse">
						<span class="blind">Disburse</span>
					</a>
				</div>

				<div class="main-acc is-purple is-small">
					<div class="main-acc__top">
						<h2 class="main-acc__name">Travel New York</h2>
						<span class="main-acc__amount">฿30,000.00</span>
					</div>
					<div class="main-acc__bottom">
						<span class="main-acc__detail">Goal driven savings 568-2-81740-9</span>
						<span class="main-acc__detail">Powered by TestLab</span>
					</div>
					<button type="button" class="main-acc__more main-acc__more--small">
						<span class="blind">More Action</span>
					</button>
					<div class="tooltip tooltip--sub-acc" style="display: none">

						<button type="button" class="tooltip__btn-more">Copy account number</button>

						<button type="button" class="tooltip__btn-more">Edit Name and Color</button>
					</div>
					<div class="main-acc__circle">
						<svg class="graph-bar" width="100%" height="100%" viewBox="0 0 42 42">
							<circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="rgba(0,0,0,0.07)"
								stroke-width="1.5"></circle>
							<circle class="gauge" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#fff"
								stroke-width="1.5" stroke-linecap="round" stroke-dashoffset="25"
								style="stroke-dasharray: 24 76"></circle>
						</svg>
						<div class="main-acc__num">
							<span class="percent">24</span>
							<span class="unit">%</span>
						</div>
					</div>
				</div>

				<div class="main-acc is-deepblue is-small">
					<div class="main-acc__top">
						<h2 class="main-acc__name">Need to repay</h2>
						<span class="main-acc__amount">฿30,000.00</span>
						<span class="main-acc__flag main-acc__flag--lock">Disbursement</span>
						<span class="main-acc__flag">Overdue</span>
					</div>
					<div class="main-acc__bottom">
						<span class="main-acc__detail">Credit Loan 568-2-81740-9</span>
					</div>
					<button type="button" class="main-acc__more main-acc__more--small">
						<span class="blind">More Action</span>
					</button>
					<div class="tooltip tooltip--sub-acc" style="display: none">

						<button type="button" class="tooltip__btn-more">Copy account number</button>

						<button type="button" class="tooltip__btn-more">Edit Name and Color</button>
					</div>
					<a href="#" class="main-acc__act main-acc__act--pay">
						<span class="blind">Pay</span>
					</a>
				</div>
				<a href="#" class="main-prod">
					<span class="main-prod__cms-ico"><img src="https://dummyimage.com/54x54/999/fff" alt=""></span>
					<strong class="main-prod__tit">Want some money?</strong>
					<p class="main-prod__dsc">You can start apply 'Clare'</p>
				</a>

				<div class="main-tb">
					<a href="#" class="link-to">Total Balance</a>
				</div>
			</div>
		</main>
	</div>
</body>
</html>