<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pin Screen</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../css/th-bank.css">
	<script src="../js/pin.js"></script>
</head>
<body>
	<div class="wrap">
		<!-- container -->
		<main class="container container--pin-type">
			<!-- Enter PIN -->
			<div class="pin">
				<div class="pin__top">
					<span class="pin__photo"><img src="https://dummyimage.com/200x200/999/fff" alt=""></span>
					<h1 class="pin__name">Interview User</h1>
					<div class="pin__dots">
						<span class="pin__dot"></span>
						<span class="pin__dot"></span>
						<span class="pin__dot"></span>
						<span class="pin__dot"></span>
						<span class="pin__dot"></span>
						<span class="pin__dot"></span>
					</div>
				</div>
				<p class="pin__dsc" style="display:none;">Invalid PIN Code.<br>You have 3 attempt left.</p>
				<div class="pin__btm">
					<a href="#" class="pin__login">Login with ID / Password </a>
					<span class="pin__kb">Powered by TestLab</span>
					<div class="pin__keys">
						<button type="button" class="pin__key">1</button>
						<button type="button" class="pin__key">2</button>
						<button type="button" class="pin__key">3</button>
						<button type="button" class="pin__key">4</button>
						<button type="button" class="pin__key">5</button>
						<button type="button" class="pin__key">6</button>
						<button type="button" class="pin__key">7</button>
						<button type="button" class="pin__key">8</button>
						<button type="button" class="pin__key">9</button>
						<span class="pin__key pin__key--space"></span>
						<button type="button" class="pin__key">0</button>
						<button type="button" class="pin__key pin__key--del"><span class="blind">Delete</span></button>
					</div>
				</div>
			</div>
			<!-- //Enter PIN -->
		</main>
		<!-- //container -->
	</div>
</body>
</html>